<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>
  <title>Erorr</title>
</head>

<body>
  <!-- Main -->
  <main>
    <div class="error">
      <p>An error occurred while loading the game. Please try again later.</p>
      <img src="assets/images/pixeltrue-error.svg" alt="robot 404 error">
      <a href="/">Go Back To Homepage</a>
    </div>
  </main>
</body>

</html>