<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>
    <title>BalckJack</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="assets/js/client.js"></script>
</head>

<body>
  <header>
    <!--Global Navigation-->
    <nav>
      <% if (!name) { %>
        <ul>
          <li><a href="login">Login</a></li>
          <li><a href="register">Sign Up</a></li>
          <li><a href="rules">Rules</a></li>
        </ul>
        <% } else { %>
          <a href="leaderboard">Leaderboard</a>
          <p>
            Welcome <%= name %>
              (<a class="err-msg" href="logout">Logout</a>)
              <% } %>
          </p>
    </nav>
  </header>
  <main>
    <h1>Blackjack Game</h1>
    <!-- Draggable DIV -->
    <div class="mydiv" style="top: 60%; left: 50%; transform: translate(-50%, -50%);">
      <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
      <div class="mydivheader">
        <div class="bank">
          <span></span>
          <div class="play-on"></div>
          <p></p>
          <div class="chips"></div>
          <p></p>
          <button class="deal">Deal</button>
          <button class="all-in">All In</button>
          <button class="clear">Clear</button>
          <button class="play-again hide-toggle">Play Again</button>
        </div>
      </div>
    </div>

    <section class="game-section hide-toggle">
      <div class="dealer-cards"></div>

      <div class="action">
        <h2><span class="dealer-score"></span> Dealer</h2>

        <button class="stand">Stand</button>
        <button class="restart hide-toggle">Restart Game</button>
        <button class="double">Double X2</button>
        <button class="hit">Hit</button>

        <h2><span class="player-score"></span> Player</h2>
      </div>

      <div class="player-cards"></div>

      <div class="score-output hide-toggle">
        <p></p>
      </div>

    </section>
  </main>
</body>

</html>