<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>
    <title>Leaderboard</title>
    <script type="module" src="assets/js/leaderboard.mjs"></script>
</head>

<body>
  <header>
    <!--Global Navigation-->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Leaderboard - Top 10</h1>
    <section>
      <table class="data">
        <tr>
          <th>Rank</th>
          <th>Player Name</th>
          <th>Highest Score</th>
          <th>Registered Date</th>
          <th>Games Played</th>
        </tr>
      </table>
    </section>
  </main>
</body>

</html>