<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>
    <title>Rules</title>
</head>

<body>
  <header>
    <!--Global Navigation-->
    <nav>
      <ul>
        <li><a href="login">Login</a></li>
        <li><a href="register">Sign Up</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <main class="rules">
    <h1>House Rules</h1>
    <ol>
      <li>Hit: Take another card.</li>
      <li>Stand: Take no more cards.</li>
      <li>Double X2: Increase the initial bet by 100% and take exactly one more card. </li>
      <li>The dealer stands on 18.</li>
      <li>A double is only allowed in the first round.</li>
      <li>Leaderboard: You have to log in to save your scores or you can play as a guest but your scores will not be saved.</li>
      <li>Have fun.</li>
    </ol>
  </main>
</body>

</html>